.body{
    height: 100vh;
    width: 100vw;
    background-image: url("../resource/IMG_1329.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    .cover{
        position: absolute;
        top: 9vw;
        left: 19vw;
        height: 80vw;
        width: 60vw;
        padding: 2vw;
        background-color: rgba(0, 0, 0, 0.856);
        text-align: center;
        transition: background-color 500ms ease-in-out;

        h1{
            color: white;
            font-family: sans-serif;
            font-weight: 100;
            font-size: x-large;
        }
    }

    .cover:hover{
        background-color: rgba(255, 255, 255, 0.171);
    }
    
    .left-vertical-bar{
        position: absolute;
        top: 0vh;
        left: 10vw;
        width: 2px;
        height: 100vh;
        background: #ffffff48;
    }
    
    .right-vertical-bar{
        position: absolute;
        top: 0vh;
        right: 10vw;
        width: 2px;
        height: 100vh;
        background: #ffffff48;
    }
    
    .top-holizontal-bar{
        position: absolute;
        top: 10vh;
        left: 0vh;
        width: 100vw;
        height: 2px;
        background: #ffffff48;
    }
    
    .under-holizontal-bar{
        position: absolute;
        bottom: 10vh;
        left: 0vh;
        width: 100vw;
        height: 2px;
        background: #ffffff48;
    }
}